.sidebar{
    float:left;
    width:30%;
    padding-left:20px;
    padding-top:4.1%;
}
.sample__container{
    float:right;
}
.Btn{
    margin-top:20px;
    width:100%;
    margin-bottom:20px;
}
.comment__form{
    width:100%;
}