.sample__card{
    border:solid;
    border-color:black;
    background-color:beige;
}
.sample__tag{
    float:left;
    margin-right:10px;
    margin-left:0px;
    padding-left:0px;
}
.sample__tags{
    margin-top:5px;
}
h5{
    margin-top:0px;
}
.title{
    margin-top:5px;
    float:left;
}
.row{
    margin-left:0px;
}
.liked{
    color: 	#98002e;
}
.heart{
    position:absolute;
    right:10%;
}
.downloadBtn{
    position:absolute;
    right: 5%;
}
.rootKey{
    margin-left:6%;
}
.bpm{
    margin-left:4%;
}
