h4{
    margin-top:0px;
    margin-bottom:0px;
    display: inline;
}
.head__key{
    margin-left:10%;
}
.head__bpm{
    margin-left:10%;
}
.head__title{
    margin-left:33%;
}
.container__head{
    margin-top:3%;
    width:100%;
    height:10%;
}
.sample__container{
    width:60%;
    float:right;
    margin-right:5%;
}